<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      h1{
        margin: 18px;
      }

      form[id = tableNo]{
        margin: 14px;
        padding: 8px;
        line-height: 1;
    }

      body{
        background-image: url("/Images/background4.jpg");
      }

      .button {
        height: 50px;
        width: 100px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 20px;
        padding: 10px;
        border-radius: 12px;
        text-align: center;
     }

     input[type=text] {
        border:none;
        outline:none;
        background:transparent;
    }

    input[type=number] {
        border:none;
        outline:none;
        background:transparent;
    }

    input[type=string] {
        border:none;
        outline:none;
        background:transparent;
        font-weight: bold;
        padding-left: 2px;
    }

    input[id=quantity] {
      padding-left: 20px;
      text-align: left;
    }

    input[id=price] {
    display: inline-block;
    text-align: left;
    }

    input[id=priceHeader]{
      padding-left: 6px;
    }

    </style>
</head>

<body>
  <form id="backForm" action="/menuBack" method="get">
  <button type="submit" class="button">Back</button>
  </form>
      <h1>Cart</h1>
    <form id="tableNo">
      <input type="integer" placeholder="Enter Table No" id="tableNo" name="tableNo" pattern="[0-9]+" oninvalid="setCustomValidity('Please Enter A Valid Table Number')" required><br/>
    </form>

    &emsp;&ensp;&nbsp;<input type="string" name="nameHeader" id="nameHeader" value="Item Name"readonly />
    <input type="string" name="quantityHeader" id="quantityHeader" value="Quantity"readonly />
    <input type="string" name="priceHeader" id="priceHeader" value="Price"readonly />

    <ol>
      <% var count = 0; %>
      <% var total = 0; %>
      <% cart.forEach(function(carts) { %>
        <table style= "float:left">
          <tr>
          <td>
            <li><input type="text" name="name" id="name" value="<%= carts.item_name %>"readonly />
            <input type="number" name="quantity" id="quantity" value="<%= carts.quantity %>"readonly />
            <% var subtotal = carts.quantity * carts.price; %>
            <input type="number" name="price" id="price" value="<%= subtotal %>"readonly />
            </li>
          </td>
        </tr>
      </table>
      <% if (count == 0) {
        total = subtotal;
      } 
      else {
        total = total + subtotal;
      } %>
      <% count = count + 1 %>
      <br/><br/>
        <% }); %>
      <b style="padding-left: 330px;">Total: $</b><%= total %>
    </ol>

    <button type="button" onclick="checkout()" class="button" >Proceed To Checkout</button>
    <script>
      function checkout() {
        location.href = "checkoutPage.html";
      }
    </script>
</body>
</html>