<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      body{
        background-image: url("/Images/background4.jpg");
      }

      button{
        float: left;
        padding: 5px;
        margin: 12px;
        cursor: pointer;
      }

    </style>
</head>

<body>
  <form id="backForm" action="/menuBack" method="get">
  <button type="submit" style="border-color:red">Back</button>
  </form>
  <div class="container-fluid">
    <div class="alert alert-secondary text-center">
      <h1>Cart</h1>
    </div>
    <b>&emsp;&nbsp; Item Name &emsp; Quantity &nbsp; Price </b>
    <ol>
      <% cart.forEach(function(carts) { %>
        <table style= "float:left">
          <tr>
          <td>
            <li><%= carts.item_name %> &emsp;
            <%= carts.quantity %> &emsp;
            <%= carts.price %></li>
          </td>
        </tr>
      </table>
      <br/><br/>
        <% }); %>
    </ol>
    </div>
    <script>
    </script>
</body>
</html>