<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      body{
        background-image: url("/Images/background4.jpg");
      }

      .button {
    height: 50px;
    width: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 20px;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
  }

    </style>
</head>

<body>
  <form id="backForm" action="/menuBack" method="get">
  <button type="submit" class="w3-right w3-black w3-large button">Back</button>
  </form>
  <div class="container-fluid">
    <div class="alert alert-secondary text-center">
      <h1>Cart</h1>
    </div>
    <b>&emsp;&nbsp; Item Name &emsp; Quantity &nbsp; Price </b>
    <ol>
      <% cart.forEach(function(carts) { %>
        <table style= "float:left">
          <tr>
          <td>
            <li><%= carts.item_name %> &emsp;
            <%= carts.quantity %> &emsp;&emsp;&nbsp;
            <%= carts.price %></li>
          </td>
        </tr>
      </table>
      <br/><br/>
        <% }); %>
    </ol>
    </div>
    <button type="button" onclick="checkout()" class="w3-right w3-black w3-large button" >Proceed to Checkout</button>
    <script>
      function checkout() {
        location.href = "checkoutPage.html";
      }
    </script>
</body>
</html>