<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body{
      background-color: aliceblue;
    }

    th{
      padding-left: 5px;
      padding-right: 5px;
    }
    
    td{
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="alert alert-secondary text-center">
      <h1>All Concurrent Orders In The Kitchen</h1>
      <button type="button" style="border-color:red" onclick="Back()">Back</button><br/>
    </div>
    <ul>
      <table style= "float:left" border ="1">
        <th>Table Number</th>
        <th>Food Order</th>
        <th>Quantity</th>
        <th>Order Status</th>
        <% kitchenorder.forEach(function(order) { %>
          <tr>
            <td><%= order.table_no %></td>
            <td><%= order.food_order %></td>
            <td><%= order.quantity %></td>
            <td><%= order.order_status %></td>
          </tr>
        <% }); %>
      </table>
    </ul>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <script>
      function Back()
      {
        location.href = "staffPage.html";
      }
    </script>
</body>
</html>
