<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      body{
        background-color: aliceblue;
      }

      button{
        float: left;
        padding: 5px;
        margin: 12px;
        cursor: pointer;
      }

      table{
        border: 2px double black;
      }

      th{
        padding-left: 10px;
        padding-right: 10px;
      }

      td{
        text-align: center;
        padding: 15px;
      }
    </style>
</head>

<body>
  <button type="button" style="border-color:red" onclick="Back()">Back</button><br/><br/>
  <div class="container-fluid">
    <div class="alert alert-secondary text-center">
      <h1>View all coupons from Database</h1>
    </div>
    <ul>
      <table style= "float:left" border = "1">
        <th>Coupon Code</th>
        <th>Discount</th>
        <% coupon.forEach(function(cp) { %>
          <tr>
            <td><%= cp.coupon_code %></td>
            <td><%= cp.discount %></td>
          </tr>
        <% }); %>
    </ul>
    </div>
    <script>
      function Back()
      {
        location.href = "managerPage.html";
      }
    </script>
</body>
</html>
