<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      body{
        background-image: url("/Images/background4.jpg");
      }

      button{
        float: left;
        padding: 5px;
        margin: 12px;
        cursor: pointer;
      }

    </style>
</head>

<body>
  <form id="backForm" action="/menuBack" method="get">
  <button type="submit" style="border-color:red">Back</button>
  </form>
  <div class="container-fluid">
    <div class="alert alert-secondary text-center">
      <h1>View all Profiles from Database</h1>
    </div>
    <ul>
      <% cart.forEach(function(carts) { %>
        <table style= "float:left">
          <tr>
          <td>
            <%= carts.item_name %><br/>
            <%= carts.quantity %><br/>
            <%= carts.price %><br/>
          </td>
        </tr>
      </table>
        <% }); %>
    </ul>
    </div>
    <script>
    </script>
</body>
</html>