<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      h1{
        padding-left: 38px;
      }

      body{
        background-color: aliceblue;
      }

      button{
        float: left;
        padding: 5px;
        margin: 12px;
        cursor: pointer;
      }
      table{
        padding: 5px;
        border-collapse: separate;
        border-spacing: 2px;
        text-align: center;
      }

      td{
        text-align: left;
        padding: 5px;
        border-spacing: 50px;
        border: 1px solid black;
      }
    </style>
</head>

<body>
  <button type="button" style="border-color:red" onclick="Back()">Back</button><br/><br/>
  <div class="container-fluid">
    <div class="alert alert-secondary text-center">
      <h1>Weekly Report View</h1>
    </div>
    <ul>
      <table>
        <th>Email</th>
        <th>Date</th>
        <th>Spending</th>
        <th>Most Food Ordered</th>
        <% customer.forEach(function(cust) { %>
          <tr>
            <td><%= cust.email %></td>
            <td><%= cust.date %></td>
            <td><%= parseFloat(cust.spending).toFixed(2) %></td>
            <td><%= cust.food_order %></td>
          </tr>
        <% }); %>
      </table>
      
    </ul>
    </div>
    <script>
      function Back()
      {
        location.href = "ownerPage.html";
      }
    </script>
</body>
</html>
